@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #ffa500;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #3b329d, #a1dcdc, #3b329d);
}

::-webkit-scrollbar-thumb {
  background-color: #f2f7ff;
}


.scrollbar-hidden {
  overflow: hidden;
}

.bgGradientDown {
  background-image: linear-gradient(
    180deg,
    hsl(22deg 17% 44%) 0%,
    hsl(14deg 15% 44%) 35%,
    hsl(6deg 12% 45%) 58%,
    hsl(356deg 10% 44%) 72%,
    hsl(345deg 8% 43%) 81%,
    hsl(332deg 6% 42%) 87%,
    hsl(315deg 4% 41%) 91%,
    hsl(287deg 3% 40%) 94%,
    hsl(262deg 2% 40%) 97%,
    hsl(240deg 1% 39%) 100%
  );
}

.gradient-border {
  border-right: 6px solid;
  border-left: 6px solid;
  border-image: linear-gradient(to bottom, #3b329d, #0ed1ce, #3b329d);
  border-image-slice: 1;
}

.fade-in-out {
  animation: fadeInOut 1s ease infinite alternate; /* Animation duration: 2 seconds */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textIndigoToTeal {
  0% {
    color: #a3c6ff;
  }
  50% {
    color: #5eead4;
  }
  100% {
    color: #a3c6ff;
  }
}

.text-indigo-to-teal {
  animation: textIndigoToTeal 5s infinite alternate;
}

@keyframes bgChange {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #062e70;
  }
  100% {
    background-color: #000000;
  }
}

.bg-animation {
  animation: bgChange 5s infinite alternate;
}

@keyframes loadingAnimation {
  0% {
    background-color: #f1f5f9;
  }
  100% {
    background-color: #021431;
  }
}

.loading-animation {
  animation: loadingAnimation 0.8s infinite alternate-reverse;
}

@keyframes loadingText {
  0% {
    color: #a3c6ff;
  }
  50% {
    color: rgb(250, 237, 252);
  }
  100% {
    color: #a3c6ff;
  }
}

.loading-text {
  animation: loadingText 1.6s infinite;
}

@keyframes textPulse {
  0% {
    color: #a3c6ff;
  }
  50% {
    color: #9dfff0;
  }
  100% {
    color: #a3c6ff;
  }
}

.text-pulse {
  animation: textPulse 6s infinite;
}

.text-pulse-stagger {
  animation: textPulse 6s infinite;
  animation-delay: 3s;
}
